@model EFoodCommerce.Modelos.TipoPrecio
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear Tipo de precio";
}

<form method="post">
    <div style="padding-left:15%; padding-right:15%; padding-bottom:inherit.4rem;">
        <div class="row border-0">
            <div asp-validation-summary="ModelOnly" class="text-danger">

            </div>
        </div>
        
        @if (Model.Codigo != 0)
        {
            //actualizar
            
            titulo = "Actualizar tipo de precio";
            <input type="hidden" asp-for="Codigo" id="codigo"/>
        }
        <div class="col-12 border-bottom p-0">
            <h2 class="text-primary">@titulo</h2>
        </div>
        
        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Nombre</label>
                <input type="text" asp-for="Nombre" class="form-control" placeholder="Nombre del tipo" id="nombre"/>
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>

        <div class="row mb-2 mt-2">
            <div class="form-group col-md-6">
                <label>Descripcion</label>
                <input type="text" asp-for="Descripcion" class="form-control" placeholder="Descripcion del tipo" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
        </div>

        <br />


        <div>
            @if (Model.Codigo !=0)
            {
                <partial name="_BotonesActualizarYRegresar" model="Model.Codigo" />
            }
            else
            {
                <partial name="_BotonesCrearYRegresar"/>
            }
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.getElementById("nombre").addEventListener('change', function () {
            validarNombre();
        });



        function validarNombre(){
            var url = '@Url.Content("~/")' + "Admin/TipoPrecio/ValidarNombre";
            var codigo = '#codigo';
            var nombre = '#nombre';

            $.getJSON(url, { codigo: $(codigo).val(), nombre: $(nombre).val() }, function (data) {
                $.each(data, function (key, value) {
                    if (value) {
                        var nombre = document.getElementById("nombre");
                        swal("Error", "Nombre ya existe", "error");
                        nombre.value = "";

                    }
                });
            })
        }

    </script>
}

