
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <h2 class="text-primary">Pedidos</h2>
    </div>
</div>

<div class="p-4 border rounded bg-light">
    <div class="form-inline mb-3">
        <label for="fechaInicio" class="mr-2">Fecha y Hora de Inicio:</label>
        <input type="datetime-local" id="fechaInicio" class="form-control mr-2">
        <label for="fechaFin" class="mr-2">Fecha y Hora de Fin:</label>
        <input type="datetime-local" id="fechaFin" class="form-control mr-2">
        <br/>
        <button id="btnBuscar" class="btn btn-primary">Buscar</button>
    </div>
    <table id="tblDatos" class="table table-responsive table-hover">
        <thead class="table-dark">
            <tr>
                <th>Número de Pedido</th>
                <th>Fecha</th>
                <th>Monto</th>
                <th>Estado</th>
                <th>Eliminar</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/pedido.js"></script>
}
