@page
@model LockoutModel
@{
    ViewData["Title"] = "Cuenta cerrada";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Esta cuenta está cerrada.</p>
</header>
