@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrar usuario";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Crea un nuevo usuario.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Nombre" class="form-control" aria-required="true" placeholder="Wikir" />
                <label asp-for="Input.Nombre">Nombre</label>
                <span asp-validation-for="Input.Nombre" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Pregunta_Seguridad" class="form-control" aria-required="true" placeholder="What kind of pizza es mi favorita?" />
                <label asp-for="Input.Pregunta_Seguridad">Pregunta seguridad</label>
                <span asp-validation-for="Input.Pregunta_Seguridad" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Respuesta_Seguridad" class="form-control" aria-required="true" placeholder="Hawaiana" />
                <label asp-for="Input.Respuesta_Seguridad">Respuesta seguridad</label>
                <span asp-validation-for="Input.Respuesta_Seguridad" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="ugir@wakir.iuwer" />
                <label asp-for="Input.Email">Correo</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Contraseña</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirmar Contraseña</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registrar usuario</button>
        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
