
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <h2 class="text-primary">Página de tester</h2>
    </div>
</div>

<br />

<a asp-area="Admin" asp-controller="Tester" asp-action="RunError" class="btn btn-danger btn-lg">Ejecutar Error</a>