.custom-btn {
    border: 2px solid black;
    border-radius: 2;
    width: 300px;
    text-shadow: 0 0 6px #000000, 0 0 6px #000000;
    height: 300px;
    color: rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease, background-color 0.5s ease;
}

.custom-lng-btn {
    width: 600px;
}

.custom-right {
    display: flex;
    justify-content: flex-end;
}

.custom-left {
    display: flex;
    justify-content: flex-start;
}

.custom-btn:hover {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    color: white;
    transform: scale(1.05);
}

