
@{
    ViewData["Title"] = "500";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <h2 class="text-primary text-danger">Error Interno</h2>
    </div>
</div>

<br />

<div class="card">
    <div class="card-body">
        <h5 class="card-title">500</h5>
        <p class="card-text">El servidor ha encontrado una situación con la que no sabe cómo lidiar. Por favor, intente más tarde.</p>
    </div>
</div>
